/* style.css */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 100%;
  width: 100%;
}

/* Opcional: estilo para que se vea mejor en móviles */
@media (max-width: 600px) {
  #map {
    height: 100vh;
  }
}